__pycache__
.venv
models/*
models/val_precision_source.txt
models/val_precision_target.txt
val_precision_target.txt
val_precision_source.txt
*/log.txt
*.zip
*.pt
*.pth
bin
lib
share
pyvenv.cfg
*/runs/*
